// tabs.component.scss
@import "../../../../styles.scss";

:host {
    flex-shrink: 0;
}

.tabs-container {
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    .tab-group {
        display: flex;
        background-color: rgba($surface-color, 0.6);
        border-radius: $border-radius-xl;
        padding: $spacing-xs;
        gap: $spacing-sm;

        app-button {
            flex-shrink: unset;
        }
    }
}

@media (max-width: map-get($breakpoints, "sm")) {
    :host {
        width: 100%;
    }

    .tab {
        width: 100%;
    }
}
