<div appFadeIn class="tabs-container">
    @for (tab of tabs; track tab.id) {
        <app-button
            role="tab"
            [title]="tab.label"
            [type]="'button'"
            [variant]="selectedTabId === tab.id ? ButtonType.Primary : ButtonType.Secondary"
            [isRounded]="true"
            [isLoading]="isLoading"
            [attr.aria-selected]="selectedTabId === tab.id"
            [text]="tab.label"
            (click)="selectTab(tab.value)"
        >
        </app-button>
    }
</div>
