// tabs.component.scss
@use "sass:map";
@use "sass:color";
@use "../../styles/variables" as *;
@use "../../styles/colors" as *;
@use "../../styles/typography" as *;
@use "../../styles/spacing" as *;
@use "../../styles/animations" as *;
@use "../../styles/utilities" as *;

:host {
    flex-shrink: 0;
}

.tabs-container {
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    gap: $spacing-sm;

    .button {
        flex-shrink: 0;
        justify-content: center;
        display: flex;
        align-items: center;
        gap: $spacing-sm;
        padding: calc($spacing-sm * 1.5) $spacing-lg;
        font-weight: $font-weight-regular;
        cursor: pointer;
        transition: all $transition-normal;
        font-size: $font-size-sm;
        line-height: 1.2;
        overflow: hidden;
        min-width: 100px;
        min-height: 40.8px;
        color: $text-secondary;
        border-radius: 50px;
        border: none;
        @include glassmorphism(rgba($surface-color, 0.6));

        &:hover {
            background-color: rgba($surface-color, 0.45);
        }

        &[aria-selected="true"] {
            background-color: rgba($primary-color, 0.6);
            color: $background-color;
        }

        @media (max-width: map.get($breakpoints, "sm")) {
            padding: calc($spacing-sm * 1.5);
        }

        i {
            font-size: $font-size-sm;
        }

        &.loading-skeleton {
            cursor: default;
            @include skeleton-loading;
            min-width: 100px;
            height: 40.8px;
            border-radius: 50px;
        }
    }
}

@media (max-width: map.get($breakpoints, "sm")) {
    :host {
        width: 100%;
    }
}
