// tabs.component.scss
@use "sass:map";
@use "sass:color";
@use "../../styles/variables" as *;
@use "../../styles/colors" as *;
@use "../../styles/typography" as *;
@use "../../styles/spacing" as *;
@use "../../styles/animations" as *;

:host {
    flex-shrink: 0;
}

.tabs-container {
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    gap: $spacing-sm;

    app-button {
        flex-shrink: 0;
    }
}

@media (max-width: map.get($breakpoints, "sm")) {
    :host {
        width: 100%;
    }
}
