@import "../../../../styles.scss";

.back-to-top {
    position: fixed;
    bottom: $spacing-md;
    right: $spacing-lg;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: $primary-color;
    border: none;
    color: $text-primary;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all $transition-normal;
    z-index: map-get($z-layers, "header");
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

    &:hover {
        // background-color: $primary-color-dark;
        transform: translateY(-2px);
    }

    i {
        font-size: $font-size-lg;
    }

    @media (max-width: map-get($breakpoints, "sm")) {
        right: $spacing-md;
        bottom: calc($mobile-nav-height + 20px);
    }
}
