<header appFadeIn>
    <div class="wrapper">
        <nav>
            <div class="nav-start">
                <a class="header-logo" [routerLink]="['/']">Watchable</a>
                <ul class="nav-links">
                    <li *ngFor="let link of navigationLinks; trackBy: trackByLink">
                        <app-button
                            [variant]="buttonType.Secondary"
                            [type]="'button'"
                            [link]="link"
                            [routerLinkActive]="'active'"
                            [text]="link.title"
                            [hasPadding]="false"
                        ></app-button>
                    </li>
                </ul>
            </div>

            <div class="nav-end">
                <div class="search-container" [class.expanded]="isSearchVisible">
                    <button
                        type="button"
                        class="search-trigger"
                        aria-label="isSearchVisible ? 'Close Search' : 'Search'"
                        [title]="isSearchVisible ? 'Close Search' : 'Search'"
                        [class.active]="isSearchVisible"
                        (click)="toggleSearch($event)"
                    >
                        <i class="fas fa-search"></i>
                    </button>
                    <form class="search-form" [formGroup]="searchForm">
                        <div class="input-wrapper" [class.has-value]="searchQueryFormField.value">
                            <input
                                #searchInput
                                class="input"
                                type="text"
                                placeholder="Search Watchable"
                                formControlName="searchQuery"
                            />
                            <button
                                *ngIf="searchQueryFormField.value"
                                type="button"
                                class="close-button"
                                (click)="clearSearch()"
                            >
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </form>
                </div>

                <div class="profile-dropdown" [class.active]="isProfileDropdownOpen">
                    <button
                        title="User profile"
                        class="profile-button"
                        aria-label="User profile"
                        [class.search-trigger]="!isLoggedIn"
                        [class.active]="isProfileDropdownOpen"
                        (click)="toggleProfileDropdown($event)"
                    >
                        <ng-container *ngIf="isLoggedIn && userInfo; else defaultAvatar">
                            <img
                                *ngIf="userInfo?.avatar_path"
                                class="avatar-image"
                                [src]="'https://image.tmdb.org/t/p/w92' + (userInfo?.avatar_path || '')"
                                [alt]="userInfo?.name || userInfo?.username || ''"
                            />
                            <div *ngIf="!userInfo?.avatar_path" class="avatar-initials">
                                {{ userInfo?.name || userInfo?.username || "" | avatarLetter }}
                            </div>
                        </ng-container>
                        <ng-template #defaultAvatar>
                            <i class="fa-regular fa-user"></i>
                        </ng-template>
                    </button>

                    <div *ngIf="isProfileDropdownOpen" class="dropdown-menu" appDropdownAnimation>
                        <ng-container *ngIf="isLoggedIn; else notLoggedIn">
                            <div class="dropdown-header">
                                <div class="user-info">
                                    <div class="avatar">
                                        <img
                                            *ngIf="userInfo?.avatar_path"
                                            class="avatar-image"
                                            [src]="'https://image.tmdb.org/t/p/w92' + (userInfo?.avatar_path || '')"
                                            [alt]="userInfo?.name || userInfo?.username || ''"
                                        />
                                        <div *ngIf="!userInfo?.avatar_path" class="avatar-initials">
                                            {{ userInfo?.name || userInfo?.username || "" | avatarLetter }}
                                        </div>
                                    </div>
                                    <div class="user-details">
                                        <span class="username">{{ userInfo?.name || "TMDB Account" }}</span>
                                        <span class="email">{{ userInfo?.username || "Connected to TMDB" }}</span>
                                    </div>
                                </div>
                            </div>
                            <ul class="dropdown-list">
                                <li>
                                    <a class="dropdown-item" [routerLink]="['/', 'watchlist']">
                                        <i class="fas fa-bookmark"></i>
                                        <span>Watchlist</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="dropdown-list">
                                <li>
                                    <a class="dropdown-item" [routerLink]="['/', 'ratings']">
                                        <i class="fa fa-star"></i>
                                        <span>Ratings</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="dropdown-list">
                                <li>
                                    <a class="dropdown-item text-danger" (click)="signOut()">
                                        <i class="fas fa-sign-out-alt"></i>
                                        <span>Sign out</span>
                                    </a>
                                </li>
                            </ul>
                        </ng-container>
                        <ng-template #notLoggedIn>
                            <div class="dropdown-header">
                                <div class="user-info">
                                    <div class="user-details">
                                        <span class="username">Join Watchable</span>
                                        <span class="email">
                                            Connect your TMDB account to access your personalized experience or
                                            <a class="link" [routerLink]="['/', 'register']">create a new account</a>.
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <ul class="dropdown-list">
                                <li>
                                    <a class="dropdown-item" (click)="signIn()">
                                        <i class="fas fa-sign-in-alt"></i>
                                        <span>Sign in</span>
                                    </a>
                                </li>
                            </ul>
                        </ng-template>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
