header {
    display: flex;
    background-color: white;
    padding: 16px 24px;

    a {
        flex-shrink: 0;
    }

    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        column-gap: 20px;
        flex-grow: 1;
        display: flex;
        justify-content: center;
    }
}
