<header appFadeIn>
    <div class="wrapper">
        <nav>
            <div class="nav-start">
                <a class="header-logo" [routerLink]="['/']">Watchable</a>
                <ul class="nav-links">
                    <li>
                        <app-button
                            [type]="buttonType.Secondary"
                            [routerLink]="['/', 'movies']"
                            [routerLinkActive]="'active'"
                            [text]="'Movies'"
                            [hasPadding]="false"
                        ></app-button>
                    </li>
                    <li>
                        <app-button
                            [type]="buttonType.Secondary"
                            [routerLink]="['/', 'tv-shows']"
                            [routerLinkActive]="'active'"
                            [text]="'TV Shows'"
                            [hasPadding]="false"
                        ></app-button>
                    </li>
                    <li>
                        <app-button
                            [type]="buttonType.Secondary"
                            [routerLink]="['/', 'people']"
                            [routerLinkActive]="'active'"
                            [text]="'People'"
                            [hasPadding]="false"
                        ></app-button>
                    </li>
                </ul>
            </div>

            <div class="nav-end">
                <div class="search-container" [class.expanded]="isSearchVisible">
                    <button
                        type="button"
                        class="search-trigger"
                        aria-label="isSearchVisible ? 'Close Search' : 'Search'"
                        [title]="isSearchVisible ? 'Close Search' : 'Search'"
                        [class.active]="isSearchVisible"
                        (click)="toggleSearch($event)"
                    >
                        <i class="fas fa-search"></i>
                    </button>
                    <form class="search-form" [formGroup]="searchForm">
                        <div class="input-wrapper" [class.has-value]="searchQueryFormField?.value">
                            <input
                                #searchInput
                                class="input"
                                type="text"
                                placeholder="Search Watchable"
                                formControlName="searchQuery"
                            />
                            <button
                                *ngIf="searchQueryFormField?.value"
                                type="button"
                                class="close-button"
                                (click)="clearSearch()"
                            >
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </form>
                </div>

                <div class="profile-dropdown" [class.active]="isProfileDropdownOpen">
                    <button
                        title="User profile"
                        class="profile-button"
                        aria-label="User profile"
                        [class.active]="isProfileDropdownOpen"
                        (click)="toggleProfileDropdown($event)"
                    >
                        <i class="fa-regular fa-user"></i>
                    </button>

                    <div *ngIf="isProfileDropdownOpen" class="dropdown-menu">
                        <div class="dropdown-header">Account</div>
                        <ul class="dropdown-list">
                            <li>
                                <a [routerLink]="['/', 'profile']">Profile</a>
                            </li>
                            <li>
                                <a [routerLink]="['/', 'settings']">Settings</a>
                            </li>
                            <li>
                                <a [routerLink]="['/', 'logout']">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
