@if (!isLoading && personDetails) {
    <ul class="details-list">
        @if (personDetails.gender) {
            <li>
                <span class="detail-label">Gender:</span>
                <span class="detail-value">{{ gender }}</span>
            </li>
        }
        @if (personDetails.birthday) {
            <li>
                <span class="detail-label">Birthday:</span>
                <span class="detail-value">{{ personDetails.birthday }}</span>
            </li>
        }
        @if (personDetails.deathday) {
            <li>
                <span class="detail-label">Deathday:</span>
                <span class="detail-value">{{ personDetails.deathday }}</span>
            </li>
        }
        @if (personDetails.place_of_birth) {
            <li>
                <span class="detail-label">Place of Birth:</span>
                <span class="detail-value">{{ personDetails.place_of_birth }}</span>
            </li>
        }
        @if (personDetails.known_for_department) {
            <li>
                <span class="detail-label">Known For:</span>
                <span class="detail-value">{{ personDetails.known_for_department }}</span>
            </li>
        }
        @if (personDetails.popularity) {
            <li>
                <span class="detail-label">Popularity:</span>
                <span class="detail-value">{{ personDetails.popularity | number: "1.0-0" }}</span>
            </li>
        }
        @if (personDetails.homepage) {
            <li>
                <span class="detail-label">Website:</span>
                <span class="detail-value">
                    <a class="detail-link" target="_blank" [href]="personDetails.homepage">{{
                        personDetails.homepage
                    }}</a>
                </span>
            </li>
        }
        @if (personDetails.also_known_as.length) {
            <li>
                <span class="detail-label">Also Known As:</span>
                <span class="detail-value">{{ personDetails.also_known_as[0] }}</span>
            </li>
        }
    </ul>
}
@if (isLoading) {
    <div class="skeleton-media-details">
        <div class="skeleton-media-content">
            <div class="skeleton-media-list">
                @for (i of [1, 2, 3, 4, 5, 6, 7, 8]; track $index) {
                    <div class="skeleton-media-item">
                        <div class="skeleton-media-label"></div>
                        <div class="skeleton-media-value"></div>
                    </div>
                }
            </div>
        </div>
    </div>
}
