<ng-container *ngIf="!isLoading; else skeletonTemplate">
    <div appFadeIn class="media-list-grid">
        <app-media-list-item
            *ngFor="let item of items | slice: 0 : (showAll ? items.length : initialCount); trackById"
            [media]="item"
            [type]="type"
        ></app-media-list-item>
    </div>

    <div *ngIf="hasMore" class="view-all-container">
        <app-button
            [isIconLeft]="false"
            [icon]="showAll ? 'fas fa-chevron-up' : 'fas fa-chevron-down'"
            [variant]="ButtonType.Secondary"
            [type]="'button'"
            [isLoading]="isLoading"
            [text]="showAll ? 'Show Less' : 'View All'"
            [hasPadding]="false"
            (click)="toggleShowAll()"
        >
        </app-button>
    </div>
</ng-container>
<ng-template #skeletonTemplate>
    <div appFadeIn class="media-list-grid">
        <app-media-list-item *ngFor="let i of skeletonArray" [isLoading]="true" [type]="type"></app-media-list-item>
    </div>
</ng-template>
