.episode-still {
    border-radius: 0.5rem;
    overflow: hidden;
    aspect-ratio: 16/9;

    .still-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.episode-still-skeleton {
    border-radius: 0.5rem;
    overflow: hidden;
    aspect-ratio: 16/9;

    .still-image {
        width: 100%;
        height: 100%;
        background-color: rgba(var(--color-surface-rgb), 0.6);
        animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }
}

@keyframes pulse {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}
