<ng-container *ngIf="!isLoading; else loadingTemplate">
    <div appFadeIn class="episode-still">
        <img
            *ngIf="stillPath"
            appBackdropPath
            class="still-image"
            alt="Episode still"
            [backdropPath]="stillPath"
            [size]="backdropSize.w780"
        />
        <img *ngIf="!stillPath" alt="No still available" [src]="default.mediumBackdropFallback" />
    </div>
</ng-container>

<ng-template #loadingTemplate>
    <div appFadeIn class="episode-still-skeleton">
        <div class="still-image"></div>
    </div>
</ng-template>
