<section class="media-section" id="airing-today">
    <header>
        <h2>
            <a [routerLink]="['airing-today']"> Airing Today </a>
        </h2>
    </header>
    <div class="media-container">
        <div *ngFor="let tvSerie of allTvSeries.airingToday.results | limitTo: 10" class="media-container__media">
            <ng-container>
                <img appPosterPath [alt]="tvSerie.name" [size]="posterSize" [posterPath]="tvSerie.poster_path" />
                <img *ngIf="!tvSerie.poster_path" alt="Image not available" [src]="posterFallback" />
            </ng-container>
            <h3>{{ tvSerie.name }}</h3>
            <div class="media-container__media__details">
                <span class="media-container__media__details__vote-average">
                    {{ +tvSerie.vote_average | number: "1.0-1" }}
                </span>
                <span class="media-container__media__details__release-date">
                    {{ tvSerie.first_air_date | date: "yyyy" }}
                </span>
            </div>
        </div>
    </div>
</section>

<section class="media-section" id="popular">
    <header>
        <h2>
            <a [routerLink]="['popular']"> Popular </a>
        </h2>
    </header>
    <div class="media-container">
        <div *ngFor="let tvSerie of allTvSeries.popular.results | limitTo: 10" class="media-container__media">
            <ng-container>
                <img appPosterPath [alt]="tvSerie.name" [size]="posterSize" [posterPath]="tvSerie.poster_path" />
                <img *ngIf="!tvSerie.poster_path" alt="Image not available" [src]="posterFallback" />
            </ng-container>
            <h3>{{ tvSerie.name }}</h3>
            <div class="media-container__media__details">
                <span class="media-container__media__details__vote-average">
                    {{ +tvSerie.vote_average | number: "1.0-1" }}
                </span>
                <span class="media-container__media__details__release-date">
                    {{ tvSerie.first_air_date | date: "yyyy" }}
                </span>
            </div>
        </div>
    </div>
</section>

<section class="media-section" id="top-rated">
    <header>
        <h2>
            <a [routerLink]="['top-rated']"> Top Rated </a>
        </h2>
    </header>
    <div class="media-container">
        <div *ngFor="let tvSerie of allTvSeries.topRated.results | limitTo: 10" class="media-container__media">
            <ng-container>
                <img appPosterPath [alt]="tvSerie.name" [size]="posterSize" [posterPath]="tvSerie.poster_path" />
                <img *ngIf="!tvSerie.poster_path" alt="Image not available" [src]="posterFallback" />
            </ng-container>
            <h3>{{ tvSerie.name }}</h3>
            <div class="media-container__media__details">
                <span class="media-container__media__details__vote-average">
                    {{ +tvSerie.vote_average | number: "1.0-1" }}
                </span>
                <span class="media-container__media__details__release-date">
                    {{ tvSerie.first_air_date | date: "yyyy" }}
                </span>
            </div>
        </div>
    </div>
</section>
