@use "sass:map";
@use "sass:color";
@use "../../styles/variables" as *;
@use "../../styles/colors" as *;
@use "../../styles/typography" as *;
@use "../../styles/spacing" as *;
@use "../../styles/animations" as *;

:host {
    flex-shrink: 0;
}

.button {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: $spacing-sm;
    padding: calc($spacing-sm * 1.5) $spacing-lg;
    border-radius: $border-radius-lg;
    font-weight: $font-weight-regular;
    cursor: pointer;
    color: $text-primary;
    transition: all $transition-normal;
    font-size: $font-size-sm;
    line-height: 1.2;
    position: relative;
    overflow: hidden;
    border: 1px solid transparent;
    background: none;
    width: 100%;
    min-width: 50px;
    min-height: 42.8px;

    @media (max-width: map.get($breakpoints, "sm")) {
        padding: calc($spacing-sm * 1.5);
    }

    i {
        font-size: $font-size-sm;
    }

    &.primary-button {
        color: $text-primary;
        background: rgba($primary-color, 0.61);
        box-shadow:
            0 8px 32px 0 rgba(0, 0, 0, 0.32),
            0 1.5px 4px 0 rgba(0, 0, 0, 0.18),
            inset 1px 1px 7px 0 rgba(255, 255, 255, 0.1);
        border: 1px solid rgba($text-secondary, 0.2);
        backdrop-filter: blur(24px) saturate(180%) brightness(1.1);
        -webkit-backdrop-filter: blur(24px) saturate(180%) brightness(1.1);

        &:hover,
        &.active {
            background: rgba($primary-color, 0.85);
        }
    }

    &.secondary-button {
        color: $primary-color;
        border: 1px solid $primary-color;
        backdrop-filter: blur(24px) saturate(180%) brightness(1.1);
        -webkit-backdrop-filter: blur(24px) saturate(180%) brightness(1.1);

        &:hover,
        &.active {
            background-color: rgba($primary-color, 0.1);
        }
    }

    &.tertiary-button {
        background: transparent;
        color: $text-secondary;
        border: 2px solid transparent;
        padding: 0;
        border-radius: 0;

        &:hover,
        &.active {
            color: $text-primary;
        }
    }

    &.imdb-button {
        background: #f5c518;
        color: #000;

        &:hover {
            background: #e6b70e;
        }
    }

    &.facebook-button {
        background: #1877f2;

        &:hover {
            background: #166fe5;
        }
    }

    &.instagram-button {
        background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
        background-size: 200% 200%;
        animation: gradient 3s ease infinite;
    }

    &.twitter-button {
        background: #000;
        color: #fff;

        &:hover {
            background: #333;
        }
    }

    &.loading-skeleton {
        cursor: default;
        @include skeleton-loading;
        min-width: 120px;
        height: 40px;

        &.tertiary-button {
            height: 17px;
            border-radius: $spacing-xs;
        }
    }
}
