@import "../../../../styles.scss";

:host {
    flex-shrink: 0;
}

.button {
    @media (max-width: map-get($breakpoints, "sm")) {
        padding: calc($spacing-sm * 1.5);
    }

    justify-content: center;
    display: flex;
    align-items: center;
    gap: $spacing-sm;
    padding: calc($spacing-sm * 1.5) $spacing-lg;
    border-radius: $border-radius-lg;
    font-weight: $font-weight-medium;
    cursor: pointer;
    color: $text-primary;
    transition: all $transition-normal;
    font-size: $font-size-sm;
    line-height: 1.2;
    position: relative;
    overflow: hidden;
    border: 1px solid transparent;
    background: none;
    width: 100%;

    &:hover {
        transform: translateY(-2px);
    }

    i {
        font-size: $font-size-sm;
    }

    &.button-primary {
        background: rgba($primary-color, 0.8);
        color: $text-primary;

        &:hover {
            background: rgba($primary-color, 1);
        }
    }

    &.button-secondary {
        background: transparent;
        color: $text-primary;
        border: none;

        &:hover {
            color: $primary-color;
        }

        &.active {
            color: $primary-color;
        }
    }

    &.button-outlined {
        background: transparent;
        border-color: $text-secondary;
        color: $text-secondary;

        &:hover {
            background: rgba($text-secondary, 0.15);
            color: $text-primary;
        }
    }

    &.imdb-button {
        background: #f5c518;
        color: #000;

        &:hover {
            background: #e6b70e;
        }
    }

    &.facebook-button {
        background: #1877f2;

        &:hover {
            background: #166fe5;
        }
    }

    &.instagram-button {
        background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
        background-size: 200% 200%;
        animation: gradient 3s ease infinite;
    }

    &.twitter-button {
        background: #1da1f2;

        &:hover {
            background: #1a91da;
            transform: translateY(-2px);
        }
    }

    &.loading-skeleton {
        cursor: default;
        pointer-events: none;
        @include skeleton-loading;
        min-width: 100px;
        height: 40px;
        border-radius: 4px;

        &.no-padding {
            height: 17px;
        }
    }

    &.no-border {
        border-color: transparent;
    }

    &.no-padding {
        padding: 0;
    }
}
