<ng-container *ngIf="!isLoading; else loading">
    <button
        *ngIf="!link; else linkButton"
        appFadeIn
        class="button"
        [type]="type"
        [class.primary-button]="variant === ButtonType.Primary"
        [class.secondary-button]="variant === ButtonType.Secondary"
        [class.outline-button]="variant === ButtonType.Outline"
        [class.imdb-button]="variant === ButtonType.Imdb"
        [class.facebook-button]="variant === ButtonType.Facebook"
        [class.instagram-button]="variant === ButtonType.Instagram"
        [class.twitter-button]="variant === ButtonType.Twitter"
        [class.no-border]="!hasBorder"
        [class.no-padding]="!hasPadding"
        [class.disabled]="disabled"
    >
        <i *ngIf="icon && isIconLeft" [class]="icon"></i>
        {{ text }}
        <i *ngIf="icon && !isIconLeft" [class]="icon"></i>
    </button>

    <ng-template #linkButton>
        <a
            *ngIf="link?.isExternal; else internalLink"
            appFadeIn
            class="button"
            [class.primary-button]="variant === ButtonType.Primary"
            [class.secondary-button]="variant === ButtonType.Secondary"
            [class.outline-button]="variant === ButtonType.Outline"
            [class.imdb-button]="variant === ButtonType.Imdb"
            [class.facebook-button]="variant === ButtonType.Facebook"
            [class.instagram-button]="variant === ButtonType.Instagram"
            [class.twitter-button]="variant === ButtonType.Twitter"
            [class.no-border]="!hasBorder"
            [class.no-padding]="!hasPadding"
            [class.disabled]="disabled"
            [target]="link?.isExternal ? '_blank' : '_self'"
            [href]="link?.isExternal ? link?.path : null"
        >
            <i *ngIf="icon && isIconLeft" [class]="icon"></i>
            {{ text }}
            <i *ngIf="icon && !isIconLeft" [class]="icon"></i>
        </a>
    </ng-template>
    <ng-template #internalLink>
        <a
            appFadeIn
            class="button"
            [class.primary-button]="variant === ButtonType.Primary"
            [class.secondary-button]="variant === ButtonType.Secondary"
            [class.outline-button]="variant === ButtonType.Outline"
            [class.no-border]="!hasBorder"
            [class.no-padding]="!hasPadding"
            [class.disabled]="disabled"
            [routerLink]="link?.path"
            [routerLinkActive]="routerLinkActive"
        >
            <i *ngIf="icon && isIconLeft" [class]="icon"></i>
            {{ text }}
            <i *ngIf="icon && !isIconLeft" [class]="icon"></i>
        </a>
    </ng-template>
</ng-container>

<ng-template #loading>
    <div appFadeIn class="button loading-skeleton" [class.no-padding]="!hasPadding"></div>
</ng-template>
