<nav appFadeIn class="bottom-nav">
    <div class="wrapper">
        <ul class="bottom-nav__container">
            <li>
                <a
                    routerLink="/"
                    routerLinkActive="active"
                    class="bottom-nav__item"
                    [routerLinkActiveOptions]="{ exact: true }"
                >
                    <i class="fas fa-home"></i>
                    <span>Home</span>
                </a>
            </li>

            <li *ngFor="let link of navigationLinks; trackBy: trackByLink">
                <a routerLinkActive="active" class="bottom-nav__item" [routerLink]="link.path">
                    <i [class]="link.icon"></i>
                    <span>{{ link.title }}</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
