<nav appFadeIn class="bottom-nav transparency">
    <ul class="bottom-nav__container">
        <li>
            <a
                routerLink="/"
                routerLinkActive="active"
                class="bottom-nav__item"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                <i class="fas fa-home"></i>
                <span>Home</span>
            </a>
        </li>

        @for (link of navigationLinks; track link.path) {
            <li>
                <a class="bottom-nav__item" [class.active]="isLinkActive(link.path)" [routerLink]="link.path">
                    <i [class]="link.icon"></i>
                    <span>{{ link.title }}</span>
                </a>
            </li>
        }
    </ul>
</nav>
