@import "../../../../styles.scss";

.bottom-nav {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba($background-color, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: 0 -2px 10px rgba($surface-color, 0.5);
    z-index: map-get($z-layers, "header");

    &__container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
        color: $text-secondary;
        padding-block: $spacing-md;
        text-decoration: none;
        transition: color $transition-normal;
        position: relative;

        i {
            font-size: $font-size-md;
            margin-bottom: $spacing-xs;
        }

        span {
            font-size: $font-size-xs;
            font-weight: $font-weight-medium;
        }

        &.active {
            color: $primary-color;
        }

        &:hover,
        &:focus {
            color: $primary-color;
        }
    }
}

@media (max-width: map-get($breakpoints, "sm")) {
    .bottom-nav {
        display: block;
    }
}
