@use "sass:map";
@use "sass:color";
@use "../../styles/variables" as *;
@use "../../styles/colors" as *;
@use "../../styles/typography" as *;
@use "../../styles/spacing" as *;
@use "../../styles/animations" as *;
@use "../../styles/utilities" as *;

.bottom-nav {
    display: none;
    position: fixed;
    bottom: $spacing-md;
    border-radius: $spacing-xl;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - $spacing-xl);
    z-index: map.get($z-layers, "header");
    @include glassmorphism();

    &__container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 6px;

        li {
            flex: 1;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: $spacing-sm;
        color: $text-secondary;
        padding-block: $spacing-sm;
        text-decoration: none;
        transition: all linear $transition-normal;
        position: relative;
        min-width: 0;
        border-radius: $spacing-xl;
        line-height: 1;

        i {
            font-size: $font-size-lg;
            display: block;
        }

        span {
            font-size: 11px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
        }

        &.active {
            color: $text-primary;
            @include glassmorphism(rgba($text-secondary, 0.2));
        }

        &:hover,
        &:focus {
            color: $text-primary;
        }
    }
}

@media (max-width: map.get($breakpoints, "sm")) {
    .bottom-nav {
        display: block;

        @supports (bottom: env(safe-area-inset-bottom)) {
            bottom: min($spacing-md + env(safe-area-inset-bottom), $spacing-xl);
        }
    }
}
