<app-media-hero
    [mediaDetails]="tvShowDetails"
    [type]="mediaType.TvShow"
    [isLoading]="isLoading"
    [seasonNumber]="seasonNumber"
    [episodeNumber]="episodeNumber"
></app-media-hero>

<div class="wrapper">
    <div class="media-details-grid">
        <div class="media-details-grid-content">
            @if (episodeDetails?.overview || isLoading) {
                <section>
                    <header>
                        <app-section-header title="Episode Overview" [isLoading]="isLoading"></app-section-header>
                    </header>
                    @if (episodeDetails?.overview && !isLoading) {
                        <p class="overview" appFadeIn>
                            {{ episodeDetails?.overview }}
                        </p>
                    } @else {
                        <div class="skeleton-overview">
                            <div class="skeleton-overview-line"></div>
                        </div>
                    }
                </section>
            }

            @if (cast.length || isLoading) {
                <section>
                    <header>
                        <app-section-header title="Cast" [isLoading]="isLoading"></app-section-header>
                    </header>
                    <app-cast-grid [cast]="cast" [isLoading]="isLoading"></app-cast-grid>
                </section>
            }

            @if (episodeDetails?.guest_stars?.length || isLoading) {
                <section>
                    <header>
                        <app-section-header title="Guest Stars" [isLoading]="isLoading"></app-section-header>
                    </header>
                    <app-cast-grid [cast]="episodeDetails?.guest_stars || []" [isLoading]="isLoading"></app-cast-grid>
                </section>
            }

            @if (episodeDetails?.images?.stills?.length || isLoading) {
                <section>
                    <header>
                        <app-section-header title="Images" [isLoading]="isLoading"></app-section-header>
                    </header>
                    <app-image-grid
                        [images]="episodeDetails?.images?.stills || []"
                        [isLoading]="isLoading"
                        [imagesCount]="4"
                        [aspectRatio]="aspectRatio['16/9']"
                    ></app-image-grid>
                </section>
            }

            @if (episodeDetails?.videos?.results?.length || isLoading) {
                <section>
                    <header>
                        <app-section-header title="Videos" [isLoading]="isLoading"></app-section-header>
                    </header>
                    <app-video-grid
                        [videos]="episodeDetails?.videos?.results || []"
                        [isLoading]="isLoading"
                        [videosCount]="4"
                    ></app-video-grid>
                </section>
            }

            @if (episodeDetails?.crew?.length || isLoading) {
                <section>
                    <header>
                        <app-section-header title="Crew" [isLoading]="isLoading"></app-section-header>
                    </header>
                    <app-cast-grid [cast]="transformedCrew" [isLoading]="isLoading"></app-cast-grid>
                </section>
            }
        </div>

        <aside>
            @if (episodeDetails || isLoading) {
                <section>
                    <app-episode-details
                        [episodeDetails]="episodeDetails"
                        [isLoading]="isLoading"
                        [tvShowId]="tvShowDetails?.id || 0"
                    ></app-episode-details>
                </section>
            }

            @if (isExternalIdAvailable || isLoading) {
                <section>
                    <div class="social-links">
                        @if (episodeDetails?.external_ids?.imdb_id || isLoading) {
                            <app-button
                                [variant]="buttonType.Imdb"
                                [type]="'button'"
                                [icon]="'fab fa-imdb'"
                                [link]="mediaLinks[0]"
                                [isLoading]="isLoading"
                                [text]="'IMDb'"
                            >
                            </app-button>
                        }
                        @if (episodeDetails?.external_ids?.facebook_id || isLoading) {
                            <app-button
                                [variant]="buttonType.Facebook"
                                [type]="'button'"
                                [icon]="'fab fa-facebook'"
                                [link]="mediaLinks[1]"
                                [isLoading]="isLoading"
                                [text]="'Facebook'"
                            >
                            </app-button>
                        }
                        @if (episodeDetails?.external_ids?.instagram_id || isLoading) {
                            <app-button
                                [variant]="buttonType.Instagram"
                                [type]="'button'"
                                [icon]="'fab fa-instagram'"
                                [link]="mediaLinks[2]"
                                [isLoading]="isLoading"
                                [text]="'Instagram'"
                            >
                            </app-button>
                        }
                        @if (episodeDetails?.external_ids?.twitter_id || isLoading) {
                            <app-button
                                [variant]="buttonType.Twitter"
                                [type]="'button'"
                                [icon]="'fab fa-twitter'"
                                [link]="mediaLinks[3]"
                                [isLoading]="isLoading"
                                [text]="'Twitter'"
                            >
                            </app-button>
                        }
                    </div>
                </section>
            }
        </aside>
    </div>
</div>
