@import "../../../../styles.scss";

.cast-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: $spacing-md;

    @media (max-width: map-get($breakpoints, "sm")) {
        grid-template-columns: 1fr;
    }
}
