<ng-container *ngIf="!isLoading; else loadingTemplate">
    <div appFadeIn class="cast-grid">
        <app-cast-person
            *ngFor="let person of cast | slice: 0 : (showAll ? cast.length : default.castCount)"
            [person]="person"
            [isLoading]="isLoading"
        ></app-cast-person>
    </div>

    <div *ngIf="hasMoreCast" class="view-all-container">
        <app-button
            [isIconLeft]="false"
            [icon]="showAll ? 'fas fa-chevron-up' : 'fas fa-chevron-down'"
            [type]="ButtonType.Secondary"
            [isLoading]="isLoading"
            [text]="showAll ? 'Show Less' : 'View All'"
            [hasPadding]="false"
            (click)="toggleShowAll()"
        >
        </app-button>
    </div>
</ng-container>

<ng-template #loadingTemplate>
    <div appFadeIn class="cast-grid">
        <app-cast-person *ngFor="let i of skeletonArray" [isLoading]="true"></app-cast-person>
    </div>
</ng-template>
