<div class="wrapper">
    <section>
        <header>
            <app-section-header title="Search Results" [isLoading]="isLoading"> </app-section-header>
            <app-tabs [isLoading]="isLoading" [tabs]="searchTabs" (tabChange)="changeSearchOption($event)"> </app-tabs>
        </header>

        <div class="list-container">
            <ng-container *ngIf="searchQuery">
                <ng-container [ngSwitch]="searchOption">
                    <ng-container *ngSwitchCase="searchOption.Movie">
                        <app-movie-list-item
                            *ngFor="let movie of searchMovies; trackBy: trackByItemId"
                            [movie]="movie"
                            [isLoading]="false"
                        ></app-movie-list-item>
                        <ng-container *ngIf="isLoading && searchMovies.length === 0">
                            <app-movie-list-item
                                *ngFor="let item of skeletonArray; trackBy: trackByIndex"
                                [isLoading]="true"
                            >
                            </app-movie-list-item>
                        </ng-container>
                        <p *ngIf="!isLoading && searchMovies.length === 0" class="no-results">
                            No movies found for "{{ searchQuery }}"
                        </p>
                    </ng-container>

                    <ng-container *ngSwitchCase="searchOption.Tv">
                        <app-tv-show-list-item
                            *ngFor="let tvShow of searchTvShows; trackBy: trackByItemId"
                            [tvShow]="tvShow"
                            [isLoading]="false"
                        ></app-tv-show-list-item>
                        <ng-container *ngIf="isLoading && searchTvShows.length === 0">
                            <app-tv-show-list-item
                                *ngFor="let item of skeletonArray; trackBy: trackByIndex"
                                [isLoading]="true"
                            >
                            </app-tv-show-list-item>
                        </ng-container>
                        <p *ngIf="!isLoading && searchTvShows.length === 0" class="no-results">
                            No TV shows found for "{{ searchQuery }}"
                        </p>
                    </ng-container>

                    <ng-container *ngSwitchCase="searchOption.Person">
                        <app-person-list-item
                            *ngFor="let person of searchPeople; trackBy: trackByItemId"
                            [person]="person"
                            [isLoading]="false"
                        ></app-person-list-item>
                        <ng-container *ngIf="isLoading && searchPeople.length === 0">
                            <app-person-list-item
                                *ngFor="let item of skeletonArray; trackBy: trackByIndex"
                                [isLoading]="true"
                            >
                            </app-person-list-item>
                        </ng-container>
                        <p *ngIf="!isLoading && searchPeople.length === 0" class="no-results">
                            No people found for "{{ searchQuery }}"
                        </p>
                    </ng-container>
                </ng-container>

                <app-infinite-scroll-loader
                    *ngIf="currentPage < totalPages"
                    [disabled]="isLoading"
                    (scrolled)="loadMore()"
                ></app-infinite-scroll-loader>
            </ng-container>
        </div>
    </section>
</div>

<ng-template #loadingState>
    <ng-container [ngSwitch]="searchOption">
        <ng-container *ngSwitchCase="searchOption.Movie">
            <ng-container *ngIf="searchMovies.length === 0">
                <app-movie-list-item *ngFor="let item of skeletonArray; trackBy: trackByIndex" [isLoading]="true">
                </app-movie-list-item>
            </ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="searchOption.Tv">
            <ng-container *ngIf="searchTvShows.length === 0">
                <app-tv-show-list-item *ngFor="let item of skeletonArray; trackBy: trackByIndex" [isLoading]="true">
                </app-tv-show-list-item>
            </ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="searchOption.Person">
            <ng-container *ngIf="searchPeople.length === 0">
                <app-person-list-item *ngFor="let item of skeletonArray; trackBy: trackByIndex" [isLoading]="true">
                </app-person-list-item>
            </ng-container>
        </ng-container>
    </ng-container>
</ng-template>
