main {
    display: flex;
    align-self: start;

    aside {
        padding-inline: 24px;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            border-radius: 8px;
            overflow: hidden;
            border: 1px solid rgb(210, 210, 210);
            width: 100%;
            min-width: 360px;

            li {
                column-gap: 24px;
                border-bottom: 1px solid rgb(210, 210, 210);
                background-color: whitesmoke;
                overflow: hidden;

                button {
                    padding: 12px;
                    text-align: left;
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                }

                &:nth-last-child(1) {
                    border-bottom: none;
                }

                &.selected {
                    background-color: rgb(0, 123, 255);

                    button {
                        color: white;
                    }
                }
            }
        }
    }

    .button-container {
        padding-block: 24px;
        text-align: center;

        button {
            cursor: pointer;
            width: fit-content;
            padding: 16px 24px;
            border-radius: 32px;
            background-color: rgb(0, 123, 255);
            color: white;
            border: 1px solid transparent;

            &:hover {
                border: 1px solid rgb(0, 123, 255);
            }
        }
    }
}
