@import "../../../styles.scss";

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: $spacing-md;
    padding-block: 12px $spacing-xl;

    .search-form {
        width: 640px;

        .input-wrapper {
            position: relative;
            display: flex;
            align-items: center;
            background-color: $surface-color;
            border-radius: $border-radius-xl;
            border: 1px solid $border-color;
            overflow: hidden;

            .search-button {
                background: none;
                border: none;
                padding: $spacing-md;
                color: $text-secondary;
                cursor: pointer;
                transition: color $transition-normal;

                &:hover {
                    color: $text-primary;
                }
            }
        }
    }

    @media (max-width: map-get($breakpoints, "sm")) {
        flex-direction: column;
        align-items: flex-start;

        .search-form {
            width: 100%;
        }
    }
}
