<div class="wrapper">
    <section>
        <header>
            <app-section-header title="Upcoming Movies" [isLoading]="isLoading"> </app-section-header>
        </header>
        <div class="list-container">
            <ng-container *ngIf="items.length; else loadingState">
                <app-media-list-item
                    *ngFor="let movie of items; trackBy: trackByItemId"
                    [media]="movie"
                    [type]="mediaType.Movie"
                    [isLoading]="false"
                >
                </app-media-list-item>
            </ng-container>
        </div>
        <app-infinite-scroll-loader
            [disabled]="isLoading || currentPage >= totalPages"
            (scrolled)="loadMore()"
        ></app-infinite-scroll-loader>
    </section>
</div>

<ng-template #loadingState>
    <app-media-list-item *ngFor="let item of skeletonArray; trackBy: trackByIndex" [isLoading]="true">
    </app-media-list-item>
</ng-template>
