<ng-container *ngIf="!isLoading; else loadingTemplate">
    <div appFadeIn class="images-grid">
        <div
            *ngFor="let image of images | slice: 0 : DEFAULT.imagesCount; let i = index"
            class="image-item"
            (click)="openViewer(i, $event)"
        >
            <img
                appBackdropPath
                class="grid-image"
                alt="Media image"
                [backdropPath]="image.file_path"
                [size]="BACKDROP_SIZE.w780"
            />
            <div
                *ngIf="i === DEFAULT.imagesCount - 1 && images.length > DEFAULT.imagesCount"
                class="more-images"
                (click)="openViewer(i, $event)"
            >
                <span class="counter">+{{ images.length - DEFAULT.imagesCount }} more</span>
            </div>
        </div>
    </div>

    <app-media-gallery
        [images]="images"
        [selectedImageIndex]="selectedImageIndex"
        (closeViewer)="closeViewer()"
    ></app-media-gallery>
</ng-container>

<ng-template #loadingTemplate>
    <div appFadeIn class="skeleton-grid">
        <div *ngFor="let i of skeletonArray" class="skeleton-image-item">
            <div class="skeleton-image"></div>
        </div>
    </div>
</ng-template>
