@if (!isLoading) {
    <a appFadeIn class="person" [title]="item.name" [routerLink]="['/', 'people', 'person', item.id]">
        <div class="person-profile">
            @if (item.profile_path) {
                <img appProfilePath [size]="profileSize" [profilePath]="item.profile_path" />
            } @else {
                <img [src]="profileFallback" />
            }
        </div>
        <span class="person-name">{{ item.name }}</span>
    </a>
} @else {
    <div appFadeIn class="skeleton-person">
        <div class="skeleton-profile"></div>
        <div class="skeleton-name"></div>
    </div>
}
