@use "sass:map";
@use "sass:color";
@use "../../styles/variables" as *;
@use "../../styles/colors" as *;
@use "../../styles/typography" as *;
@use "../../styles/spacing" as *;
@use "../../styles/animations" as *;
@use "../../styles/utilities" as *;

.rating-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $spacing-xs;
    padding: $spacing-sm;
    // background-color: rgba($background-color, 0.05);
    @include glassmorphism(rgba($background-color, 0.05));
    border-radius: $border-radius-md;
    min-width: 68px;

    &:has(.rating-value.rating-low) {
        background-color: rgba($error-color, 0.05);
    }

    &:has(.rating-value.rating-medium) {
        background-color: rgba($warning-color, 0.05);
    }

    &:has(.rating-value.rating-high) {
        background-color: rgba($success-color, 0.05);
    }

    &:has(.rating-value.rating-top) {
        background-color: rgba($primary-color, 0.05);
    }

    .rating-value {
        font-weight: $font-weight-bold;
        font-size: $font-size-sm;
        color: $text-secondary;

        &.rating-low {
            color: rgba($error-color, 0.8);
        }

        &.rating-medium {
            color: rgba($warning-color, 0.8);
        }

        &.rating-high {
            color: rgba($success-color, 0.8);
        }

        &.rating-top {
            color: $primary-color;
        }
    }

    .rating-total {
        color: $text-secondary;
        font-size: $font-size-xs;
    }
}

.skeleton-rating-badge {
    @include skeleton-loading;
    width: 68px;
    height: 37px;
}
