<ng-container *ngIf="!isLoading; else skeletonTemplate">
    <a
        appFadeIn
        class="episode"
        [routerLink]="['/tv-shows', 'tv-show', tvShowId, 'seasons', seasonNumber, 'episode', episode?.episode_number]"
        [title]="episode?.name"
    >
        <div class="episode-poster">
            <img
                *ngIf="episode?.still_path; else altBackdropPath"
                appBackdropPath
                [backdropPath]="episode?.still_path ?? ''"
                [size]="backdropSize"
            />
        </div>
        <h3 class="title">{{ episode?.name }}</h3>
        <div class="meta">
            <span class="episode-number">Episode {{ episode?.episode_number }}</span>
            <span *ngIf="episode?.air_date" class="air-date">
                {{ episode?.air_date | date: "MMM d, y" }}
            </span>
        </div>
    </a>
</ng-container>

<ng-template #skeletonTemplate>
    <div appFadeIn class="skeleton-episode">
        <div class="skeleton-poster"></div>
        <div class="skeleton-title"></div>
        <div class="skeleton-meta">
            <div class="skeleton-meta-item"></div>
            <div class="skeleton-meta-item"></div>
        </div>
    </div>
</ng-template>

<ng-template #altBackdropPath>
    <img [src]="backdropFallback" />
</ng-template>
