@import "../../../../styles.scss";

.details-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;

    li {
        display: flex;
        gap: $spacing-md;
        font-size: $font-size-sm;

        @media (max-width: map-get($breakpoints, "sm")) {
            font-size: $font-size-xs;
        }

        .detail-label {
            color: $text-secondary;
            font-weight: $font-weight-medium;
            width: 110px;
            flex-shrink: 0;
            line-height: 1.3;

            @media (max-width: map-get($breakpoints, "sm")) {
                width: 140px;
            }
        }

        .detail-value {
            color: $text-primary;
            line-height: 1.3;

            .detail-link {
                color: rgba($primary-color, 0.8);
                text-decoration: none;
                transition: color $transition-normal;
                font-weight: $font-weight-medium;
                line-break: anywhere;
                line-height: 1.3;

                &:hover {
                    color: rgba($primary-color, 1);
                }
            }
        }
    }
}

.external-links {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    margin-top: $spacing-xl;
}

// skeleton loading
.skeleton-media-details {
    .skeleton-media-content {
        display: flex;
        flex-direction: column;
        gap: $spacing-xl;
    }

    .skeleton-media-list {
        display: flex;
        flex-direction: column;
        gap: $spacing-sm;
    }

    .skeleton-media-item {
        display: flex;
        gap: $spacing-md;
    }

    .skeleton-media-label {
        @include skeleton-loading;
        height: $font-size-sm;
        width: 110px;

        @media (max-width: map-get($breakpoints, "sm")) {
            height: $font-size-xs;
            width: 140px;
        }
    }

    .skeleton-media-value {
        @include skeleton-loading;
        flex: 1;
        height: $font-size-sm;

        @media (max-width: map-get($breakpoints, "sm")) {
            height: $font-size-xs;
        }
    }
}
