@use "sass:map";
@use "sass:color";
@use "../../styles/variables" as *;
@use "../../styles/colors" as *;
@use "../../styles/typography" as *;
@use "../../styles/spacing" as *;
@use "../../styles/animations" as *;

.details-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;

    li {
        display: flex;
        gap: $spacing-md;
        font-size: $font-size-sm;
        border-bottom: 1px solid $surface-color;
        padding-bottom: $spacing-sm;

        &:last-child {
            border-bottom: none;
        }

        @media (max-width: map.get($breakpoints, "sm")) {
            font-size: $font-size-xs;
        }

        .detail-label {
            color: $text-primary;
            font-weight: $font-weight-regular;
            width: 124px;
            flex-shrink: 0;
            display: flex;
            align-items: center;

            @media (max-width: map.get($breakpoints, "sm")) {
                width: 110px;
            }
        }

        .detail-value {
            color: $text-secondary;

            .detail-link {
                color: $primary-color;
                text-decoration: none;
                transition: color $transition-normal;
                font-weight: $font-weight-regular;
                line-break: anywhere;

                &:hover {
                    color: rgba($primary-color, 1);
                }
            }
        }
    }
}

.skeleton-media-details {
    .skeleton-media-content {
        display: flex;
        flex-direction: column;
        gap: $spacing-xl;
    }

    .skeleton-media-list {
        display: flex;
        flex-direction: column;
        gap: $spacing-md;
    }

    .skeleton-media-item {
        display: flex;
        gap: $spacing-md;
    }

    .skeleton-media-label {
        @include skeleton-loading;
        height: $font-size-sm;
        width: 124px;
        border-radius: $border-radius-sm;

        @media (max-width: map.get($breakpoints, "sm")) {
            width: 110px;
            height: $font-size-xs;
        }
    }

    .skeleton-media-value {
        @include skeleton-loading;
        flex: 1;
        height: $font-size-sm;
        border-radius: $border-radius-sm;

        @media (max-width: map.get($breakpoints, "sm")) {
            height: $font-size-xs;
        }
    }
}
