<div appFadeIn class="carousel">
    @if (!isLoading) {
        <div class="carousel-wrapper">
            <button
                title="Previous"
                aria-label="Previous"
                aria-controls="carousel-person"
                type="button"
                class="nav-button nav-prev"
                [class]="prevButtonClass"
            >
                <i class="fas fa-chevron-left chevron-icon"></i>
            </button>

            <button
                title="Next"
                aria-label="Next"
                aria-controls="carousel-person"
                type="button"
                class="nav-button nav-next"
                [class]="nextButtonClass"
            >
                <i class="fas fa-chevron-right chevron-icon"></i>
            </button>

            <swiper-container #swiperEl id="carousel-person" init="false">
                @for (item of items; track item.id) {
                    <swiper-slide>
                        <app-carousel-person-item [item]="item" [isLoading]="false"></app-carousel-person-item>
                    </swiper-slide>
                }
            </swiper-container>
        </div>
    } @else {
        <div class="skeleton-carousel">
            <div class="skeleton-wrapper">
                @for (item of skeletonArray; track $index) {
                    <div class="skeleton-slide">
                        <app-carousel-person-item [isLoading]="true"></app-carousel-person-item>
                    </div>
                }
            </div>
        </div>
    }
</div>
