<ng-container *ngIf="trendingMovies && trendingTvSeries && trendingPeople">
    <section class="media-section" id="trending-movies">
        <header>
            <h2>
                <a [routerLink]="['movies']"> Movies </a>
            </h2>
            <form [formGroup]="trendingForm">
                <select formControlName="moviesFilter">
                    <option [value]="TRENDING_FILTER.Day">{{ TRENDING_FILTER.Day | titlecase }}</option>
                    <option [value]="TRENDING_FILTER.Week">{{ TRENDING_FILTER.Week | titlecase }}</option>
                </select>
            </form>
        </header>
        <div class="media-container">
            <div *ngFor="let movie of trendingMovies | limitTo: 10" class="media-container__media">
                <ng-container>
                    <img appPosterPath [alt]="movie.title" [size]="posterSize" [posterPath]="movie.poster_path" />
                    <img *ngIf="!movie.poster_path" alt="Image not available" [src]="posterFallback" />
                </ng-container>
                <h3>{{ movie.title }}</h3>
                <div class="media-container__media__details">
                    <span class="media-container__media__details__vote-average">
                        {{ +movie.vote_average | number: "1.0-1" }}
                    </span>
                    <span class="media-container__media__details__release-date">
                        {{ movie.release_date | date: "yyyy" }}
                    </span>
                </div>
            </div>
        </div>
    </section>

    <section class="media-section" id="trending-series">
        <header>
            <h2>
                <a [routerLink]="['series']"> Series </a>
            </h2>
            <form [formGroup]="trendingForm">
                <select formControlName="tvSeriesFilter">
                    <option [value]="TRENDING_FILTER.Day">{{ TRENDING_FILTER.Day | titlecase }}</option>
                    <option [value]="TRENDING_FILTER.Week">{{ TRENDING_FILTER.Week | titlecase }}</option>
                </select>
            </form>
        </header>
        <div class="media-container">
            <div *ngFor="let tvSerie of trendingTvSeries | limitTo: 10" class="media-container__media">
                <ng-container>
                    <img appPosterPath [alt]="tvSerie.name" [size]="posterSize" [posterPath]="tvSerie.poster_path" />
                    <img *ngIf="!tvSerie.poster_path" alt="Image not available" [src]="posterFallback" />
                </ng-container>
                <h3>{{ tvSerie.name }}</h3>
                <div class="media-container__media__details">
                    <span class="media-container__media__details__vote-average">
                        {{ +tvSerie.vote_average | number: "1.0-1" }}
                    </span>
                    <span class="media-container__media__details__release-date">
                        {{ tvSerie.first_air_date | date: "yyyy" }}
                    </span>
                </div>
            </div>
        </div>
    </section>

    <section class="media-section" id="trending-people">
        <header>
            <h2>
                <a [routerLink]="['people']"> People </a>
            </h2>
            <form [formGroup]="trendingForm">
                <select formControlName="peopleFilter">
                    <option [value]="TRENDING_FILTER.Day">{{ TRENDING_FILTER.Day | titlecase }}</option>
                    <option [value]="TRENDING_FILTER.Week">{{ TRENDING_FILTER.Week | titlecase }}</option>
                </select>
            </form>
        </header>
        <div class="media-container">
            <div *ngFor="let person of trendingPeople | limitTo: 20" class="media-container__media">
                <ng-container>
                    <img appProfilePath [alt]="person.name" [size]="profileSize" [profilePath]="person.profile_path" />
                    <img *ngIf="!person.profile_path" alt="Image not available" [src]="profileFallback" />
                </ng-container>
                <h3>{{ person.name }}</h3>
                <div class="media-container__media__details">
                    <span class="media-container__media__details__known-for-department">
                        {{ person.known_for_department }}
                    </span>
                    <ng-container *ngIf="person.known_for">
                        <span *ngIf="isMovie(person.known_for[0])" class="media-container__media__details__known-for">
                            {{ person.known_for[0].title }}
                        </span>
                        <span *ngIf="!isMovie(person.known_for[0])" class="media-container__media__details__known-for">
                            {{ person.known_for[0].name }}
                        </span>
                    </ng-container>
                </div>
            </div>
        </div>
    </section>
</ng-container>
