<div class="wrapper">
    <section>
        <header>
            <app-section-header title="Popular People" [isLoading]="isLoading"> </app-section-header>
        </header>
        <div class="list-container">
            @if (items.length) {
                @for (person of items; track trackByItemId($index, person)) {
                    <app-person-list-item [person]="person" [isLoading]="false"> </app-person-list-item>
                }
            } @else {
                @for (item of skeletonArray; track $index) {
                    <app-person-list-item [isLoading]="true"> </app-person-list-item>
                }
            }
        </div>
        <app-infinite-scroll-loader
            [disabled]="isLoading || currentPage >= totalPages"
            (scrolled)="loadMore()"
        ></app-infinite-scroll-loader>
    </section>
</div>
