@if (!isLoading) {
    <a
        appFadeIn
        class="season"
        aria-label="Link to the season"
        [title]="season.name"
        [routerLink]="['/tv-shows', 'tv-show', tvShowId, 'seasons', season.season_number]"
    >
        <div class="season-poster">
            @if (season.poster_path) {
                <img appPosterPath alt="Poster of the season" [size]="posterSize" [posterPath]="season.poster_path" />
                />
            } @else {
                <img alt="Poster of the season" [src]="posterFallback" />
            }
        </div>
        <span class="season-name">{{ season.name }}</span>
        <span class="season-episodes">{{ season.episode_count }} Episodes</span>
    </a>
} @else {
    <div appFadeIn class="skeleton-season">
        <div class="skeleton-poster"></div>
        <div class="skeleton-name"></div>
        <div class="skeleton-episodes"></div>
    </div>
}
