<ng-container *ngIf="isAppReady$ | async; else loading">
    <div class="app">
        <app-header></app-header>
        <main>
            <app-search-bar *ngIf="searchService.isSearchOpen$ | async"></app-search-bar>
            <app-page>
                <router-outlet />
            </app-page>
        </main>
        <app-footer></app-footer>
        <app-mobile-navigation></app-mobile-navigation>
    </div>
</ng-container>

<ng-template #loading>
    <div class="loading-container">
        <div class="loading-spinner"></div>
    </div>
</ng-template>
