<ng-container *ngIf="isAppReady$ | async; else loading">
    <div class="app">
        <app-header></app-header>
        <main>
            <router-outlet />
            <app-mobile-navigation></app-mobile-navigation>
            <app-back-to-top-button></app-back-to-top-button>
            <app-loading
                *ngIf="authService.isLoading$ | async"
                message="Processing authentication..."
                [overlay]="true"
            ></app-loading>

            <app-snackbar
                [message]="(snackbarService.state$ | async)!.message"
                [type]="(snackbarService.state$ | async)!.type"
                [show]="(snackbarService.state$ | async)!.show"
                (dismiss)="snackbarService.hide()"
            ></app-snackbar>
        </main>
        <app-footer></app-footer>
    </div>
</ng-container>

<ng-template #loading>
    <app-loading message="Loading Watchable..."></app-loading>
</ng-template>
