@use "sass:map";
@use "./spacing" as *;
@use "./variables" as *;
@use "./colors" as *;
@use "./typography" as *;

.input {
    width: 100%;
    padding: calc($spacing-sm * 1.5) $spacing-md;
    border-radius: $spacing-xl;
    background-color: rgb(40, 44, 53);
    color: $text-primary;
    font-size: $font-size-md;
    border: none;
    overflow: hidden;

    @media (max-width: map.get($breakpoints, "sm")) {
        padding: calc($spacing-sm * 1.5);
    }

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: $text-secondary;
    }
}
