.input {
    width: 100%;
    padding: $spacing-sm $spacing-md;
    border-radius: $border-radius-xl;
    background-color: rgba($surface-color, 0.6);
    color: $text-primary;
    font-size: $font-size-md;
    border: none;
    overflow: hidden;

    @media (max-width: map-get($breakpoints, "sm")) {
        padding: $spacing-sm calc($spacing-sm * 1.5);
    }

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: $text-secondary;
    }
}
