<ng-container *ngIf="!isLoading; else skeletonTemplate">
    <a appFadeIn class="movie-list-item" [routerLink]="['/', 'movies', 'movie', movie.id]">
        <div class="movie-main">
            <div class="poster-wrapper">
                <ng-container *ngIf="movie.poster_path; else altPosterPath">
                    <img appPosterPath [size]="posterSize" [posterPath]="movie.poster_path" />
                </ng-container>
            </div>

            <div class="info">
                <div class="info-header">
                    <div class="title-container">
                        <h3 class="title">{{ movie.title }}</h3>
                        <div class="meta">
                            <span class="year">{{ movie.release_date | date: "yyyy" }}</span>
                            <span *ngIf="movie.genres?.length" class="genres">
                                <span *ngFor="let genre of movie.genres; let last = last">
                                    {{ genre.name }}{{ !last ? ", " : "" }}
                                </span>
                            </span>
                        </div>
                    </div>

                    <div class="rating-container">
                        <div class="rating">
                            <div class="rating-badge">
                                <span
                                    class="rating-value"
                                    [class.rating-low]="movie.vote_average < 5.0"
                                    [class.rating-medium]="movie.vote_average >= 5.0 && movie.vote_average < 7.0"
                                    [class.rating-high]="movie.vote_average >= 7.0 && movie.vote_average < 8.5"
                                    [class.rating-top]="movie.vote_average >= 8.5"
                                >
                                    {{ movie.vote_average | number: "1.1-1" }}
                                </span>
                                <span class="rating-total">/10</span>
                            </div>
                        </div>
                    </div>
                </div>

                <p class="overview">{{ movie.overview }}</p>
            </div>
        </div>
    </a>
</ng-container>

<ng-template #skeletonTemplate>
    <div appFadeIn class="movie-list-item-loading">
        <div class="movie-main">
            <div class="poster-skeleton"></div>
            <div class="info-skeleton">
                <div class="header-skeleton">
                    <div class="title-container-skeleton">
                        <div class="title-skeleton"></div>
                        <div class="meta-skeleton"></div>
                    </div>
                    <div class="rating-skeleton"></div>
                </div>
                <div class="overview-skeleton">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #altPosterPath>
    <img [src]="posterFallback" />
</ng-template>
