<footer appFadeIn>
    <div class="wrapper">
        <!-- <div class="footer-grid">
            <div class="footer-section">
                <h3 class="footer-title">Movies</h3>
                <ul class="footer-links">
                    <li>
                        <a [routerLink]="['/', 'trending', 'movies']">Trending</a>
                    </li>
                    <li>
                        <a [routerLink]="['/', 'movies', 'now-playing']">Now Playing</a>
                    </li>
                    <li>
                        <a [routerLink]="['/', 'movies', 'popular']">Popular</a>
                    </li>
                    <li>
                        <a [routerLink]="['/', 'movies', 'top-rated']">Top Rated</a>
                    </li>
                    <li>
                        <a [routerLink]="['/', 'movies', 'upcoming']">Upcoming</a>
                    </li>
                </ul>
            </div>

            <div class="footer-section">
                <h3 class="footer-title">TV Shows</h3>
                <ul class="footer-links">
                    <li>
                        <a [routerLink]="['/', 'trending', 'tv-shows']">Trending</a>
                    </li>
                    <li>
                        <a [routerLink]="['/', 'tv-shows', 'airing-today']">Airing Today</a>
                    </li>
                    <li>
                        <a [routerLink]="['/', 'tv-shows', 'popular']">Popular</a>
                    </li>
                    <li>
                        <a [routerLink]="['/', 'tv-shows', 'top-rated']">Top Rated</a>
                    </li>
                </ul>
            </div>

            <div class="footer-section">
                <h3 class="footer-title">People</h3>
                <ul class="footer-links">
                    <li>
                        <a [routerLink]="['/', 'trending', 'people']">Trending</a>
                    </li>
                    <li>
                        <a [routerLink]="['/', 'people', 'popular']">Popular</a>
                    </li>
                </ul>
            </div>
        </div> -->

        <div class="footer-bottom">
            <p class="copyright">© 2025 Watchable</p>
            <div class="powered-by">
                Powered by <a href="https://www.themoviedb.org/" target="_blank" rel="noopener">TMDB</a>
            </div>
        </div>
    </div>
</footer>
