<footer>
    <div class="features-container">
        <div class="features-container__feature">
            <h2>Movies</h2>
            <ul>
                <li>
                    <a [routerLink]="['/', 'movies', 'now-playing']">Now Playing</a>
                </li>
                <li>
                    <a [routerLink]="['/', 'movies', 'popular']">Popular</a>
                </li>
                <li>
                    <a [routerLink]="['/', 'movies', 'top-rated']">Top Rated</a>
                </li>
                <li>
                    <a [routerLink]="['/', 'movies', 'trending']">Trending</a>
                </li>
                <li>
                    <a [routerLink]="['/', 'movies', 'upcoming']">Upcoming</a>
                </li>
            </ul>
        </div>
        <div class="features-container__feature">
            <h2>Series</h2>
            <ul>
                <li>
                    <a [routerLink]="['/', 'series', 'airing-today']">Airing Today</a>
                </li>
                <li>
                    <a [routerLink]="['/', 'series', 'popular']">Popular</a>
                </li>
                <li>
                    <a [routerLink]="['/', 'series', 'top-rated']">Top Rated</a>
                </li>
                <li>
                    <a [routerLink]="['/', 'series', 'trending']">Trending</a>
                </li>
            </ul>
        </div>
        <div class="features-container__feature">
            <h2>People</h2>
            <ul>
                <li>
                    <a [routerLink]="['/', 'people', 'popular']">Popular</a>
                </li>
                <li>
                    <a [routerLink]="['/', 'people', 'trending']">Trending</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
