@use "sass:map";
@use "sass:color";
@use "../../styles/variables" as *;
@use "../../styles/colors" as *;
@use "../../styles/typography" as *;
@use "../../styles/spacing" as *;
@use "../../styles/animations" as *;

footer {
    padding: $spacing-xl 0;
    margin-top: auto;

    .footer-bottom {
        padding-top: $spacing-lg;
        border-top: 1px solid $surface-color;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .copyright {
            color: $text-primary;
            font-size: $font-size-sm;
            margin: 0;
        }

        .powered-by {
            color: $text-primary;
            font-size: $font-size-sm;

            a {
                color: $primary-color;
                text-decoration: none;

                &:hover {
                    color: rgba($primary-color, 1);
                }
            }
        }
    }
}

@media (max-width: map.get($breakpoints, "sm")) {
    footer {
        padding: $spacing-md 0;

        .footer-bottom {
            padding-top: $spacing-md;
        }
    }
}
