@import "../../../../styles.scss";

.featured-banner {
    height: 75dvh;
    background-size: cover;
    background-position: center 10%;
    position: relative;

    .overlay {
        background: linear-gradient(to right, rgba($background-color, 0.4), transparent),
            linear-gradient(to top, $background-color, rgba($background-color, 0.4), transparent);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .featured-details {
        max-width: 60%;

        .featured-title {
            font-size: $font-size-2xl;
            margin-bottom: calc($spacing-sm * 1.5);
            font-weight: $font-weight-bold;
        }

        .featured-meta {
            display: flex;
            align-items: center;
            gap: $spacing-md;
            margin-bottom: $spacing-md;
            color: $text-primary;
            font-size: $font-size-sm;

            .rating {
                color: $text-primary;
                flex-shrink: 0;

                &.rating-low {
                    color: rgba($error-color, 0.9);
                }

                &.rating-medium {
                    color: rgba($warning-color, 0.9);
                }

                &.rating-high {
                    color: rgba($success-color, 0.9);
                }

                &.rating-top {
                    color: rgba($primary-color, 0.9);
                }

                i {
                    color: #ffd700;
                    margin-right: $spacing-xs;
                }
            }

            .genres,
            .year {
                display: flex;
                align-items: center;

                &:before {
                    content: "•";
                    margin-right: $spacing-md;
                }
            }

            .genres {
                flex-shrink: 0;
                @include text-clamp(1);
            }
        }

        .featured-overview {
            color: $text-primary;
            margin-bottom: $spacing-xl;
            @include text-clamp(3);
        }

        .featured-actions {
            display: flex;
            gap: $spacing-md;
        }
    }
}

.featured-banner-skeleton {
    height: 75dvh;
    background-color: $background-color;
    position: relative;
    margin-bottom: $spacing-2xl;

    .overlay {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .featured-details {
        max-width: 60%;

        .skeleton-title {
            width: 70%;
            height: $font-size-2xl;
            border-radius: $border-radius-md;
            margin-bottom: calc($spacing-sm * 1.5);
            @include skeleton-loading;
        }

        .skeleton-meta {
            display: flex;
            align-items: center;
            gap: $spacing-md;
            margin-bottom: $spacing-md;

            .skeleton-meta-item {
                width: 80px;
                height: $font-size-sm;
                border-radius: $border-radius-sm;
                @include skeleton-loading;
            }
        }

        .skeleton-overview {
            margin-bottom: $spacing-xl;

            .skeleton-line {
                width: 100%;
                height: $font-size-sm;
                border-radius: $border-radius-sm;
                margin-bottom: $spacing-sm;
                @include skeleton-loading;

                &:last-child {
                    width: 60%;
                }

                &:nth-child(2) {
                    width: 90%;
                }
            }
        }

        .skeleton-actions {
            display: flex;
            gap: $spacing-md;

            .skeleton-button-primary,
            .skeleton-button-secondary {
                height: 40px;
                border-radius: $border-radius-lg;
                @include skeleton-loading;
            }

            .skeleton-button-primary {
                width: 160px;
            }

            .skeleton-button-secondary {
                width: 180px;
            }
        }
    }
}

@media (max-width: map-get($breakpoints, "md")) {
    .featured-banner {
        height: calc(100dvh - $mobile-nav-height - $mobile-header-height - $spacing-md);

        .overlay {
            align-items: flex-end;
            .overlay {
                background: linear-gradient(to top, $background-color, transparent);
            }
        }

        .featured-details {
            max-width: 100%;
            margin-bottom: $spacing-md;

            .featured-title {
                font-size: $font-size-xl;
            }

            .featured-meta {
                gap: $spacing-sm;

                .genres,
                .year {
                    &:before {
                        content: "•";
                        margin-right: $spacing-sm;
                    }
                }
            }

            .featured-overview {
                font-size: $font-size-sm;
            }
        }
    }

    .featured-banner-skeleton {
        height: calc(100dvh - $mobile-nav-height - $mobile-header-height - $spacing-md);

        .overlay {
            align-items: flex-end;
        }

        .featured-details {
            max-width: 100%;
            margin-bottom: $spacing-md;

            .skeleton-title {
                height: $font-size-xl;
            }
        }
    }
}
