<section>
    <app-featured-banner
        [featuredItem]="airingToday[0]"
        [mediaType]="MEDIA_TYPE.TvShow"
        [isLoading]="isMainContentLoading"
    >
    </app-featured-banner>
</section>

<div class="wrapper">
    <section>
        <header>
            <app-section-header
                redirectUrl="airing-today"
                title="TV Shows Airing Today"
                [isLoading]="isMainContentLoading"
            >
            </app-section-header>
        </header>
        <app-carousel-media [mediaType]="MEDIA_TYPE.TvShow" [items]="airingToday" [isLoading]="isMainContentLoading">
        </app-carousel-media>
    </section>

    <section>
        <header>
            <app-section-header redirectUrl="popular" title="Popular TV Shows" [isLoading]="isMainContentLoading">
            </app-section-header>
        </header>
        <app-carousel-media [mediaType]="MEDIA_TYPE.TvShow" [items]="popular" [isLoading]="isMainContentLoading">
        </app-carousel-media>
    </section>

    <section>
        <header>
            <app-section-header redirectUrl="top-rated" title="Top Rated TV Shows" [isLoading]="isMainContentLoading">
            </app-section-header>
        </header>
        <app-carousel-media [mediaType]="MEDIA_TYPE.TvShow" [items]="topRated" [isLoading]="isMainContentLoading">
        </app-carousel-media>
    </section>

    <section *ngFor="let genre of loadedGenres">
        <header>
            <app-section-header
                [title]="genre.genreName + ' TV Shows'"
                [redirectUrl]="['discover', genre.genreName]"
                [isLoading]="isMainContentLoading"
            >
            </app-section-header>
        </header>
        <app-carousel-media [mediaType]="genre.type" [items]="genre.items" [isLoading]="isMainContentLoading">
        </app-carousel-media>
    </section>
</div>

<app-infinite-scroll-loader
    *ngIf="!allGenresLoaded"
    [disabled]="isLoadingMoreGenres"
    (scrolled)="loadMore()"
></app-infinite-scroll-loader>
