<ng-container *ngIf="!isLoading; else loadingTemplate">
    <div appFadeIn class="videos-grid">
        <div
            *ngFor="let video of videos | slice: 0 : DEFAULT.videosCount; let i = index"
            class="video-item"
            (click)="openViewer(i, $event)"
        >
            <div class="video-thumbnail">
                <img
                    class="thumbnail-image"
                    [src]="'https://img.youtube.com/vi/' + video.key + '/maxresdefault.jpg'"
                    [alt]="video.name"
                />
                <div class="play-button">
                    <i class="fas fa-play"></i>
                </div>
            </div>
            <div
                *ngIf="i === DEFAULT.videosCount - 1 && videos.length > DEFAULT.videosCount"
                class="more-videos"
                (click)="openViewer(i, $event)"
            >
                <span class="counter">+{{ videos.length - DEFAULT.videosCount }} more</span>
            </div>
        </div>
    </div>

    <app-video-gallery
        [videos]="videos"
        [selectedIndex]="selectedIndex"
        (closeViewer)="closeViewer()"
    ></app-video-gallery>
</ng-container>

<ng-template #loadingTemplate>
    <div appFadeIn class="skeleton-grid">
        <div *ngFor="let i of skeletonArray" class="skeleton-video-item">
            <div class="skeleton-video"></div>
        </div>
    </div>
</ng-template>
