@import "../../../../styles.scss";

.episode-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: $spacing-md;

    @media (max-width: map-get($breakpoints, "sm")) {
        grid-template-columns: repeat(2, 1fr);
    }
}
