@import "../../../../styles.scss";

.image-viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background: rgba($background-color, 0.8);
    backdrop-filter: blur(10px);

    .viewer-content {
        position: relative;
        width: 90%;
        max-width: 1200px;
        gap: $spacing-xl;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        justify-content: center;

        @media (max-width: map-get($breakpoints, "sm")) {
            width: 100%;
            height: 100%;
            padding: $spacing-md;
        }

        .viewer-strip-container {
            position: relative;
            width: 100%;
            border-radius: $border-radius-lg;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;

            .viewer-strip {
                width: 100%;

                swiper-slide {
                    width: 100%;

                    .image-container {
                        width: 100%;
                        overflow: hidden;
                        border-radius: $border-radius-lg;

                        &.aspect-ratio-16-9 {
                            aspect-ratio: 16/9;
                        }

                        &.aspect-ratio-3-4 {
                            aspect-ratio: 3/4;
                            max-width: 480px;
                            margin: 0 auto;
                        }

                        &.aspect-ratio-2-3 {
                            aspect-ratio: 2/3;
                            max-width: 480px;
                            margin: 0 auto;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center top;
                        }
                    }
                }
            }

            .viewer-overlay {
                position: absolute;
                inset: 0;
                transition: opacity $transition-normal;

                .close-button {
                    position: absolute;
                    top: 44px;
                }
            }
        }

        .preview-strip {
            width: 100%;

            swiper-slide {
                cursor: pointer;
                opacity: 0.5;
                transition: opacity $transition-normal;

                &:has(.aspect-ratio-16-9) {
                    width: 100px;
                }

                &:has(.aspect-ratio-3-4) {
                    width: 64px;
                }

                &:has(.aspect-ratio-2-3) {
                    width: 48px;
                }

                &.active {
                    opacity: 1;
                }

                .preview-container {
                    width: 100%;
                    overflow: hidden;
                    border-radius: $border-radius-lg;

                    &.aspect-ratio-16-9 {
                        aspect-ratio: 16/9;
                    }

                    &.aspect-ratio-3-4 {
                        aspect-ratio: 3/4;
                    }

                    &.aspect-ratio-2-3 {
                        aspect-ratio: 2/3;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center top;
                    }
                }
            }
        }
    }
}
