<div *ngIf="showViewer" appFadeIn class="image-viewer">
    <div class="viewer-content">
        <button title="Close" aria-label="Close" class="close-button" (click)="emitCloseViewer()">
            <i class="fas fa-times"></i>
        </button>

        <div class="viewer-strip-container">
            <swiper-container
                #viewerStrip
                class="viewer-strip"
                [spaceBetween]="16"
                [slidesPerView]="1"
                [initialSlide]="selectedIndex"
                [grabCursor]="true"
                [speed]="DEFAULT.carouselAnimationDuration"
                (swiperslidechange)="onViewerSlideChange($event)"
            >
                <swiper-slide *ngFor="let image of images">
                    <img
                        appBackdropPath
                        alt="Viewer image"
                        [backdropPath]="image.file_path"
                        [size]="BACKDROP_SIZE.w1280"
                    />
                </swiper-slide>
            </swiper-container>
        </div>

        <ng-container *ngIf="showPreviewStrip">
            <swiper-container
                #previewStrip
                class="preview-strip"
                [spaceBetween]="8"
                [slidesPerView]="'auto'"
                [initialSlide]="selectedIndex"
                [speed]="DEFAULT.carouselAnimationDuration"
            >
                <swiper-slide
                    *ngFor="let image of images; let i = index"
                    [class.active]="i === selectedIndex"
                    (click)="selectItem(i)"
                >
                    <img appBackdropPath alt="Thumbnail" [backdropPath]="image.file_path" [size]="BACKDROP_SIZE.w300" />
                </swiper-slide>
            </swiper-container>
        </ng-container>
    </div>
</div>
