@use "sass:map";
@use "sass:color";
@use "../../styles/variables" as *;
@use "../../styles/colors" as *;
@use "../../styles/typography" as *;
@use "../../styles/spacing" as *;
@use "../../styles/animations" as *;

.reviews-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(352px, 1fr));
    gap: $spacing-md;

    @media (max-width: map.get($breakpoints, "sm")) {
        grid-template-columns: 1fr;
    }
}
