@if (!isLoading) {
    <div appFadeIn class="reviews-grid">
        @for (review of reviews | slice: 0 : (showAll ? reviews.length : default.reviewsCount); track review.id) {
            <app-review-item [review]="review" [isLoading]="isLoading"></app-review-item>
        }
    </div>

    @if (hasMoreReviews) {
        <div class="view-all-container">
            <app-button
                [variant]="ButtonType.Secondary"
                [type]="'button'"
                [isLoading]="isLoading"
                [icon]="showAll ? 'fas fa-chevron-up' : 'fas fa-chevron-down'"
                [isIconLeft]="false"
                [text]="showAll ? 'Show Less' : 'View All'"
                (click)="toggleShowAll()"
            >
            </app-button>
        </div>
    }
} @else {
    <div appFadeIn class="reviews-grid">
        @for (i of skeletonArray; track $index) {
            <app-review-item [review]="defaultReview" [isLoading]="true"></app-review-item>
        }
    </div>
}
