<div appFadeIn class="floating-search">
    <div class="search-overlay" (click)="toggleSearch()"></div>

    <div class="search-container">
        <form class="search-form" [formGroup]="searchForm">
            <div class="input-wrapper">
                <input
                    #searchInput
                    class="input"
                    type="text"
                    placeholder="Search for movies, TV shows, people..."
                    formControlName="searchQuery"
                />
                <button *ngIf="searchQueryFormField.value" type="button" class="clear-button" (click)="clearSearch()">
                    <span>×</span>
                </button>
            </div>
        </form>

        <div *ngIf="isSearching" appFadeIn class="search-results">
            <!-- <div *ngIf="isLoading" class="loading-state">
                <div class="loading-spinner"></div>
                <p>Searching...</p>
            </div>

            <div class="no-results">
                <p>No results found for "{{ searchString }}"</p>
            </div>
            -->

            <div class="results-container">
                <!-- Movies section -->
                <ul class="results-list">
                    <li *ngFor="let searchResult of searchResults">
                        <ng-container [ngSwitch]="searchResult.media_type">
                            <ng-container *ngSwitchCase="MEDIA_TYPE.Movie">
                                <app-movie-search-list-item
                                    [isLoading]="false"
                                    [movie]="searchResult"
                                ></app-movie-search-list-item>
                            </ng-container>
                            <ng-container *ngSwitchCase="MEDIA_TYPE.TvShow">
                                <app-tv-show-search-list-item
                                    [isLoading]="false"
                                    [tvShow]="searchResult"
                                ></app-tv-show-search-list-item>
                            </ng-container>
                        </ng-container>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
