@import "../../../../styles.scss";

.floating-search {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10vh;
    background-color: rgba($background-color, 0.8);
    backdrop-filter: blur(6px);
    will-change: opacity;

    .search-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .search-container {
        position: relative;
        width: 100%;
        max-width: 800px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: $spacing-md;
        margin-inline: $spacing-lg;
        transform-origin: top center;
        will-change: transform, opacity;

        .search-form {
            position: relative;

            .input-wrapper {
                position: relative;

                input {
                    padding: $spacing-md $spacing-xl $spacing-md $spacing-md;
                }

                .clear-button {
                    position: absolute;
                    right: $spacing-md;
                    top: 50%;
                    transform: translateY(-50%);
                    background: rgba($background-color, 0.5);
                    border: none;
                    width: 28px;
                    height: 28px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    font-size: 20px;
                    color: $text-secondary;
                    transition: all 0.2s ease;

                    &:hover {
                        background-color: rgba($background-color, 0.8);
                        color: $text-primary;
                    }
                }
            }
        }

        .search-results {
            max-height: 60vh;
            overflow-y: auto;
            background-color: $surface-color;
            border-radius: $border-radius-xl;
            border: 1px solid $border-color;
            box-shadow: $shadow-lg;

            .no-results {
                padding: $spacing-md;
                color: $text-secondary;
                text-align: center;
                font-size: $font-size-md;
            }

            .results-container {
                .result-list {
                }
            }
        }
    }
}

@media (max-width: map-get($breakpoints, "sm")) {
    .floating-search {
        padding-top: 5vh;
    }
}
