<app-media-hero [mediaDetails]="tvShowDetails" [type]="mediaType.TvShow" [isLoading]="isLoading"></app-media-hero>

<div class="wrapper">
    <div class="media-details-grid">
        <div class="media-details-grid-content">
            <section *ngIf="tvShowDetails?.seasons?.length || isLoading">
                <header>
                    <app-section-header
                        [title]="'Seasons'"
                        [isLoading]="isLoading"
                        [redirectUrl]="['/tv-shows', 'tv-show', tvShowDetails?.id?.toString() ?? '', 'seasons']"
                    >
                    </app-section-header>
                </header>
                <app-carousel-season
                    [items]="tvShowDetails?.seasons ?? []"
                    [tvShowId]="tvShowDetails?.id ?? 0"
                    [isLoading]="isLoading"
                >
                </app-carousel-season>
            </section>

            <section *ngIf="tvShowDetails?.credits?.cast?.length || isLoading">
                <header>
                    <app-section-header title="Top Cast" [isLoading]="isLoading"></app-section-header>
                </header>
                <app-cast-grid [cast]="tvShowDetails?.credits?.cast ?? []" [isLoading]="isLoading"></app-cast-grid>
            </section>

            <section *ngIf="tvShowDetails?.images?.backdrops?.length || isLoading">
                <header>
                    <app-section-header title="Photos" [isLoading]="isLoading"></app-section-header>
                </header>
                <app-image-grid
                    [images]="tvShowDetails?.images?.backdrops ?? []"
                    [isLoading]="isLoading"
                ></app-image-grid>
            </section>

            <section *ngIf="tvShowDetails?.videos?.results?.length || isLoading">
                <header>
                    <app-section-header title="Videos" [isLoading]="isLoading"></app-section-header>
                </header>
                <app-video-grid
                    [videos]="tvShowDetails?.videos?.results ?? []"
                    [isLoading]="isLoading"
                ></app-video-grid>
            </section>

            <section *ngIf="tvShowDetails?.similar?.results?.length || isLoading">
                <header>
                    <app-section-header title="Similar TV Shows" [isLoading]="isLoading"></app-section-header>
                </header>
                <app-carousel-media
                    [type]="mediaType.TvShow"
                    [items]="tvShowDetails?.similar?.results ?? []"
                    [isLoading]="isLoading"
                >
                </app-carousel-media>
            </section>

            <section *ngIf="tvShowDetails?.recommendations?.results?.length || isLoading">
                <header>
                    <app-section-header title="Recommendations" [isLoading]="isLoading"></app-section-header>
                </header>
                <app-carousel-media
                    [type]="mediaType.TvShow"
                    [items]="tvShowDetails?.recommendations?.results ?? []"
                    [isLoading]="isLoading"
                >
                </app-carousel-media>
            </section>
        </div>

        <aside>
            <section *ngIf="tvShowDetails || isLoading">
                <header>
                    <app-section-header title="TV Show Info" [isLoading]="isLoading"></app-section-header>
                </header>
                <app-media-details
                    [mediaDetails]="tvShowDetails"
                    [type]="mediaType.TvShow"
                    [isLoading]="isLoading"
                ></app-media-details>
            </section>

            <section *ngIf="isExternalIdAvailable || isLoading">
                <header>
                    <app-section-header title="Media" [isLoading]="isLoading"></app-section-header>
                </header>
                <div class="social-links">
                    <app-button
                        *ngIf="tvShowDetails?.external_ids?.imdb_id || isLoading"
                        [variant]="ButtonType.Imdb"
                        [type]="'button'"
                        [icon]="'fab fa-imdb'"
                        [link]="mediaLinks[0]"
                        [isLoading]="isLoading"
                        [text]="'IMDb'"
                    >
                    </app-button>
                    <app-button
                        *ngIf="tvShowDetails?.external_ids?.facebook_id || isLoading"
                        [variant]="ButtonType.Facebook"
                        [type]="'button'"
                        [icon]="'fab fa-facebook'"
                        [link]="mediaLinks[1]"
                        [isLoading]="isLoading"
                        [text]="'Facebook'"
                    >
                    </app-button>
                    <app-button
                        *ngIf="tvShowDetails?.external_ids?.instagram_id || isLoading"
                        [variant]="ButtonType.Instagram"
                        [type]="'button'"
                        [icon]="'fab fa-instagram'"
                        [link]="mediaLinks[2]"
                        [isLoading]="isLoading"
                        [text]="'Instagram'"
                    >
                    </app-button>
                    <app-button
                        *ngIf="tvShowDetails?.external_ids?.twitter_id || isLoading"
                        [variant]="ButtonType.Twitter"
                        [type]="'button'"
                        [icon]="'fab fa-twitter'"
                        [link]="mediaLinks[3]"
                        [isLoading]="isLoading"
                        [text]="'Twitter'"
                    >
                    </app-button>
                </div>
            </section>
        </aside>
    </div>

    <section *ngIf="tvShowDetails?.reviews?.results?.length || isLoading">
        <header>
            <app-section-header title="Reviews" [isLoading]="isLoading"></app-section-header>
        </header>
        <app-review-grid [reviews]="tvShowDetails?.reviews?.results ?? []" [isLoading]="isLoading"></app-review-grid>
    </section>
</div>
