<div appFadeIn class="section-header">
    <div class="title-container">
        <h2 class="title">
            <div class="title-link">
                @if (!isLoading) {
                    <span>{{ title }}</span>
                    @if (redirectUrl) {
                        <app-button
                            [variant]="buttonType.Secondary"
                            [type]="'button'"
                            [link]="link"
                            [text]="'View More'"
                            [isIconLeft]="false"
                        ></app-button>
                    }
                } @else {
                    <div appFadeIn class="loading-skeleton">
                        <div class="skeleton-title-container">
                            <div class="skeleton-title"></div>
                        </div>
                        @if (redirectUrl) {
                            <app-button
                                [variant]="buttonType.Secondary"
                                [type]="'button'"
                                [link]="link"
                                [text]="'View More'"
                                [isIconLeft]="false"
                                [isLoading]="true"
                            ></app-button>
                        }
                    </div>
                }
            </div>
        </h2>
    </div>
</div>
