@import "../../../../styles.scss";

:host {
    flex-grow: 1;
}

.section-header {
    .title-container {
        display: flex;
        align-items: center;
    }

    .title {
        font-size: 22px;
        font-weight: $font-weight-medium;
        color: $text-primary;
        display: flex;
        align-items: center;
        gap: $spacing-sm;
        margin: 0;
        width: 100%;

        // &::before {
        //     content: "";
        //     display: block;
        //     width: 6px;
        //     height: $font-size-lg;
        //     background-color: $primary-color;
        //     border-radius: $spacing-sm;
        //     font-size: $font-size-lg;
        // }

        .title-link {
            gap: $spacing-md;
            display: flex;
            align-items: baseline;
            line-height: 1;
            width: fit-content;
            width: 100%;
            justify-content: space-between;

            a {
                flex-shrink: 0;

                .view-more {
                    font-size: $font-size-md;
                    font-weight: $font-weight-medium;
                    display: flex;
                    align-items: baseline;
                    gap: $spacing-xs;
                    transition: all $transition-normal;
                    color: rgba($primary-color, 0.8);
                    text-decoration: none;
                    cursor: pointer;

                    .chevron-icon {
                        color: inherit;
                        font-size: $font-size-sm;
                    }

                    &:hover {
                        color: rgba($primary-color, 1);
                    }
                }
            }
        }
    }
}

@media (max-width: map-get($breakpoints, "sm")) {
    :host {
        width: 100%;
    }

    .section-header {
        .title {
            font-size: 18px;

            .title-link {
                a {
                    .view-more {
                        opacity: 1;
                        font-size: $font-size-sm;
                        margin-left: auto;

                        .chevron-icon {
                            font-size: $font-size-sm;
                        }
                    }
                }
            }
        }
    }
}
