<ng-container *ngIf="!isLoading; else loadingTemplate">
    <div appFadeIn class="images-grid">
        <div
            *ngFor="let image of images | slice: 0 : imagesCount; let i = index"
            class="image-item"
            [ngClass]="{
                'aspect-ratio-16-9': aspectRatio === aspectRatioEnum['16/9'],
                'aspect-ratio-3-4': aspectRatio === aspectRatioEnum['3/4'],
                'aspect-ratio-2-3': aspectRatio === aspectRatioEnum['2/3']
            }"
            (click)="openViewer(i, $event)"
        >
            <img
                appBackdropPath
                class="grid-image"
                alt="Media image"
                [backdropPath]="image.file_path"
                [size]="backdropSize.w780"
            />
            <div
                *ngIf="i === imagesCount - 1 && images.length > imagesCount"
                class="more-images"
                (click)="openViewer(i, $event)"
            >
                <span class="counter">+{{ images.length - imagesCount }} more</span>
            </div>
        </div>
    </div>

    <app-image-gallery
        [images]="images"
        [selectedIndex]="selectedImageIndex"
        [aspectRatio]="aspectRatio"
        (closeViewer)="closeViewer()"
    ></app-image-gallery>
</ng-container>

<ng-template #loadingTemplate>
    <div appFadeIn class="skeleton-grid">
        <div
            *ngFor="let i of skeletonArray"
            class="skeleton-image-item"
            [ngClass]="{
                'aspect-ratio-16-9': aspectRatio === aspectRatioEnum['16/9'],
                'aspect-ratio-3-4': aspectRatio === aspectRatioEnum['3/4'],
                'aspect-ratio-2-3': aspectRatio === aspectRatioEnum['2/3']
            }"
        >
            <div class="skeleton-image"></div>
        </div>
    </div>
</ng-template>
