<div class="wrapper">
    <section>
        <header>
            <app-section-header [title]="(tvShowDetails?.name || 'TV Show') + ' - Seasons'" [isLoading]="isLoading">
            </app-section-header>
        </header>
        <div class="list-container">
            <ng-container *ngIf="!isLoading; else loadingState">
                <app-season-list-item
                    *ngFor="let season of seasons; trackBy: trackByItemId"
                    [season]="season"
                    [tvShowId]="tvShowId || 0"
                    [isLoading]="false"
                >
                </app-season-list-item>
            </ng-container>
        </div>
    </section>
</div>

<ng-template #loadingState>
    <app-season-list-item *ngFor="let item of skeletonArray; trackBy: trackByIndex" [isLoading]="true">
    </app-season-list-item>
</ng-template>
