body {
    margin: 0;
    padding: 0;

    &:has(app-page-loader) {
        overflow-y: hidden;
    }
}

app-movies,
app-movie,
app-now-playing,
app-popular,
app-top-rated,
app-trending,
app-upcoming,
app-people,
app-person,
app-series,
app-airing-today,
app-serie {
    flex-grow: 1;
}

section.media-section {
    position: relative;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .media-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 48px 24px;

        &__media {
            width: 100%;
            max-width: 185px;
            overflow: hidden;
            display: flex;
            flex-direction: column;

            img {
                flex-grow: 1;
                border-radius: 24px;
            }

            h3 {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            &__details {
                display: flex;
                align-items: center;
                font-weight: 500;

                &__vote-average {
                    display: flex;
                    align-items: center;
                    width: fit-content;
                    padding-inline-end: 16px;
                    border-inline-end: 1px solid black;
                }

                &__release-date {
                    display: flex;
                    align-items: center;
                    width: fit-content;
                    padding-inline-start: 16px;
                }
            }
        }
    }
}
