body {
    margin: 0;
    padding: 0;

    &:has(app-page-loader) {
        overflow-y: hidden;
    }
}

app-header {
    position: sticky;
    top: 0;
    z-index: 1;
}

app-movies,
app-movie,
app-now-playing,
app-popular,
app-top-rated,
app-trending,
app-upcoming,
app-people,
app-person,
app-series,
app-airing-today,
app-serie {
    flex-grow: 1;
}

.disabled {
    opacity: 0.7;
    pointer-events: none;
}

section.media-section {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 24px;
    }

    .media-container {
        padding-inline: 24px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 48px 24px;

        &__media {
            width: 100%;
            max-width: 185px;
            display: flex;
            flex-direction: column;
            overflow: hidden;

            img {
                border-radius: 24px;
                flex-grow: 1;
            }

            h3 {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                margin: 0;
                line-height: 1.5;
            }

            &__details {
                font-weight: 500;
                max-width: 185px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                &__vote-average {
                    display: block;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                &__release-date {
                    display: block;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                &__known-for-department {
                    display: block;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                &__known-for {
                    display: block;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }
    }
}

section.media-items-section {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 24px;
    }

    main {
        .media-item-container {
            padding-inline: 24px;
            row-gap: 24px;
            display: flex;
            flex-direction: column;

            &__media {
                display: flex;
                column-gap: 24px;
                border: 1px solid rgb(210, 210, 210);
                background-color: whitesmoke;
                border-radius: 8px;
                overflow: hidden;

                &__img-anchor {
                    line-height: 0;
                    flex-shrink: 0;
                    min-width: 92px;
                    min-height: 138px;

                    img {
                        width: 100%;
                        border-radius: 8px;
                    }
                }

                &__content {
                    flex-grow: 1;
                    overflow: hidden;
                    padding-block: 8px;

                    h3 {
                        margin: 0;
                        font-size: 20px;
                        line-height: 1.5;
                        color: rgb(0, 123, 255);
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;

                        a {
                            color: rgb(0, 123, 255);
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            text-decoration: none;
                        }
                    }

                    &__details {
                        &__known-for-department {
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            display: block;
                        }

                        &__known-for {
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            display: block;
                        }
                    }

                    &__vote-average {
                        display: block;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }

                    &__release-date {
                        display: block;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }

                &__info {
                    display: flex;
                    align-items: center;
                    padding-inline-end: 24px;
                    flex-shrink: 0;

                    button {
                        cursor: pointer;
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        background-color: rgb(205, 239, 255);
                        border: 2px solid rgb(0, 123, 255);
                        color: rgb(0, 123, 255);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }

    footer {
        padding: 24px;
        text-align: center;

        button {
            cursor: pointer;
            width: fit-content;
            padding: 16px 24px;
            border-radius: 32px;
            background-color: rgb(0, 123, 255);
            color: white;
            border: 2px solid transparent;

            &:hover {
                border: 2px solid rgb(0, 123, 255);
            }
        }
    }
}
