<app-media-hero [mediaDetails]="movieDetails" [mediaType]="MEDIA_TYPE.Movie" [isLoading]="isLoading"></app-media-hero>

<div class="wrapper">
    <div class="media-details-grid">
        <ng-container>
            <div *ngIf="movieDetails?.credits?.cast?.length">
                <section *ngIf="movieDetails?.reviews?.results?.length">
                    <header>
                        <app-section-header title="Reviews"></app-section-header>
                    </header>
                    <app-reviews [reviews]="movieDetails?.reviews?.results ?? []" [isLoading]="isLoading"></app-reviews>
                </section>

                <section *ngIf="movieDetails?.credits?.cast?.length">
                    <header>
                        <app-section-header title="Top Cast"></app-section-header>
                    </header>
                    <app-cast-grid [cast]="movieDetails?.credits?.cast ?? []" [isLoading]="isLoading"></app-cast-grid>
                </section>

                <section *ngIf="movieDetails?.images?.backdrops?.length">
                    <header>
                        <app-section-header title="Photos"></app-section-header>
                    </header>
                    <app-images-viewer
                        [images]="movieDetails?.images?.backdrops ?? []"
                        [isLoading]="isLoading"
                    ></app-images-viewer>
                </section>

                <section *ngIf="movieDetails?.videos?.results?.length">
                    <header>
                        <app-section-header title="Videos"></app-section-header>
                    </header>
                    <app-videos-viewer
                        [videos]="movieDetails?.videos?.results ?? []"
                        [isLoading]="isLoading"
                    ></app-videos-viewer>
                </section>
            </div>
        </ng-container>

        <aside *ngIf="movieDetails">
            <section>
                <header>
                    <app-section-header title="Movie Info"></app-section-header>
                </header>
                <app-media-details
                    [mediaDetails]="movieDetails"
                    [mediaType]="MEDIA_TYPE.Movie"
                    [isLoading]="isLoading"
                ></app-media-details>
            </section>

            <section *ngIf="movieDetails?.external_ids">
                <header>
                    <app-section-header title="Media"></app-section-header>
                </header>
                <div class="social-links">
                    <a
                        *ngIf="movieDetails.external_ids.imdb_id"
                        target="_blank"
                        class="button imdb-button"
                        [href]="'https://www.imdb.com/title/' + movieDetails.external_ids.imdb_id"
                    >
                        <i class="fab fa-imdb"></i> IMDb
                    </a>
                    <a
                        *ngIf="movieDetails.external_ids.facebook_id"
                        target="_blank"
                        class="button facebook-button"
                        [href]="'https://www.facebook.com/' + movieDetails.external_ids.facebook_id"
                    >
                        <i class="fab fa-facebook"></i> Facebook
                    </a>
                    <a
                        *ngIf="movieDetails.external_ids.instagram_id"
                        target="_blank"
                        class="button instagram-button"
                        [href]="'https://www.instagram.com/' + movieDetails.external_ids.instagram_id"
                    >
                        <i class="fab fa-instagram"></i> Instagram
                    </a>
                    <a
                        *ngIf="movieDetails.external_ids.twitter_id"
                        target="_blank"
                        class="button twitter-button"
                        [href]="'https://twitter.com/' + movieDetails.external_ids.twitter_id"
                    >
                        <i class="fab fa-twitter"></i> Twitter
                    </a>
                </div>
            </section>
        </aside>
    </div>

    <section *ngIf="movieDetails?.similar?.results?.length">
        <header>
            <app-section-header title="Similar Movies"></app-section-header>
        </header>
        <app-carousel-media
            [mediaType]="MEDIA_TYPE.Movie"
            [items]="movieDetails?.similar?.results ?? []"
            [isLoading]="isLoading"
        >
        </app-carousel-media>
    </section>

    <section *ngIf="movieDetails?.recommendations?.results?.length">
        <header>
            <app-section-header title="Recommendations"></app-section-header>
        </header>
        <app-carousel-media
            [mediaType]="MEDIA_TYPE.Movie"
            [items]="movieDetails?.recommendations?.results ?? []"
            [isLoading]="isLoading"
        >
        </app-carousel-media>
    </section>
</div>
