<ng-container *ngIf="!isLoading; else skeletonTemplate">
    <a appFadeIn class="person-list-item" [routerLink]="['/', 'people', 'person', person.id]">
        <div class="person-main">
            <div class="person-avatar">
                <ng-container *ngIf="person?.profile_path; else altProfilePath">
                    <img appProfilePath [size]="profileSize" [profilePath]="person.profile_path" />
                </ng-container>
            </div>

            <div class="person-content">
                <div class="person-header">
                    <h3 class="person-name">{{ person.name }}</h3>
                    <span class="person-department">{{ person.known_for_department }}</span>
                </div>

                <div *ngIf="person?.known_for && person?.known_for?.length" class="credits-list">
                    <span *ngFor="let credit of person?.known_for | slice: 0 : 1" class="credit">
                        {{ credit?.title ?? credit?.name }}
                    </span>
                </div>
            </div>
        </div>
    </a>
</ng-container>

<ng-template #skeletonTemplate>
    <div appFadeIn class="person-list-item skeleton">
        <div class="person-main">
            <div class="skeleton-avatar"></div>
            <div class="skeleton-content">
                <div class="skeleton-header">
                    <div class="skeleton-name"></div>
                    <div class="skeleton-department"></div>
                </div>
                <div class="skeleton-credits">
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #altProfilePath>
    <img [src]="profileFallback" />
</ng-template>
