<ng-container *ngIf="!isLoading; else loadingTemplate">
    <a class="tv-show-list-item" [routerLink]="['/', 'tv-shows', 'tv-show', tvShow.id]">
        <div class="tv-show-main">
            <div class="poster-wrapper">
                <img
                    *ngIf="tvShow.poster_path"
                    appPosterPath
                    [posterPath]="tvShow.poster_path"
                    [size]="POSTER_SIZE.w342"
                />
                <img *ngIf="!tvShow.poster_path" [src]="DEFAULT.largePosterFallback" />
            </div>
            <div class="info">
                <div class="info-header">
                    <h3 class="title">{{ tvShow.name }}</h3>
                    <div class="rating-container">
                        <div class="rating">
                            <div class="rating-badge">
                                <span
                                    class="rating-value"
                                    [class.rating-low]="tvShow.vote_average < 5"
                                    [class.rating-medium]="tvShow.vote_average >= 5 && tvShow.vote_average < 7"
                                    [class.rating-high]="tvShow.vote_average >= 7 && tvShow.vote_average < 8.5"
                                    [class.rating-top]="tvShow.vote_average >= 8.5"
                                >
                                    {{ tvShow.vote_average | number: "1.1-1" }}
                                </span>
                                <span class="rating-total">/10</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="meta">
                    <span *ngIf="tvShow.first_air_date" class="year">
                        {{ tvShow.first_air_date | date: "yyyy" }}
                    </span>
                    <span *ngIf="tvShow.genres?.length" class="genres">
                        <span *ngFor="let genre of tvShow.genres; let last = last">
                            {{ genre.name }}{{ !last ? ", " : "" }}
                        </span>
                    </span>
                </div>
                <p class="overview">{{ tvShow.overview }}</p>
            </div>
        </div>
    </a>
</ng-container>

<ng-template #loadingTemplate>
    <div class="tv-show-list-item-loading"></div>
</ng-template>
